@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class=" col-md-4">
            <p class="mt-5" style="font-family:verdana; font-size:30px;">Check if you have diabetes</p>
            <p style="font-size:21px;">Reiceive a predicton by answering a couple of questions.</p>
            <a class="btn btn-outline-primary mb-4" asp-controller="Home" asp-action="PredictForm">Predict</a>
            <a class="btn btn-outline-secondary mb-4" asp-controller="Home" asp-action="HowDoesItWork">More info</a>
            <p style="font-family:verdana; font-size:24px;">About diabetes.</p>
            <p style="font-size:18px;">Diabetes is a disease that occurs when your blood glucose, also called blood sugar, is too high. Blood glucose is your main source of energy and comes from the food you eat. Insulin, a hormone made by the pancreas, helps glucose from food get into your cells to be used for energy. Sometimes your body doesn’t make enough—or any—insulin or doesn’t use insulin well. Glucose then stays in your blood and doesn’t reach your cells.</p>
        </div>
        <div class="col-md-8">
            <img src="~/Image/DiabtesImg.jpg" alt="img" class="rounded mt-5 mx-auto d-block img-fluid" />
        </div>
    </div>
</div>
