@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Prediction
@{
    ViewData["Title"] = "Predict";
}


<div class="container border border-secondary rounded-3 shadow  mt-5">
     <h3>Prediction</h3>
     @if (Model.DiabetesPrediction == 0){
        <p style ="font-size:21px;">We predict that you <b>do not</b> have diabetes.</p>
     }
    @if (Model.DiabetesPrediction == 1)
    {
        <p style="font-size:21px;">We predict that you <b>do</b> have diabetes.</p>
    }
    <p style="font-size:21px;">The image below explains the Machine Learning model and your prediction. Blue bars push the prediction value to the left closer to 0, this means no diabetes. Red bars push the prediction value to the right closer to 1, this means diabetes. The size of a bar indicates the degree of influence on the prediction.</p>
    <img src="data:image/png;base64, @Model.ShapImg" alt="Shap img" width="850" class="mx-auto d-block img-fluid " />
 </div>

<div class="container border border-secondary rounded-3 shadow mt-5">
    <h3>Disclaimer</h3>
    <p>The computer uses its knowledge to give you a prediction whether you have diabetes or not. It is important to remember this is a prediction not a definitive answer. No doctor or other specialist has looked at your data, this means it is not always 100% accurate. If you have doubts about the prediction or it predicts that you have diabetes make sure to contact a doctor. For more info about diabetes and how you can improve your lifestyle click <a href="https://www.niddk.nih.gov/health-information/diabetes/overview/what-is-diabetes">here.</a></p>
</div>

